<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">My Work</div>
  <button type="button" (click)="initializeModal()" class="btn btn-outline-success create" data-toggle="modal" data-target="#createModal">
    Create
  </button>
  <div class="rightNavOptions">
    <input [(ngModel)]="searchString" class="form-control" type="Search" placeholder="Search" aria-label="Search"/>
    <div class="sortOptions">
      <div class="dropdown">
        <a class="dropdown-toggle sortBy" role="button" data-toggle="dropdown">
          Sort By:&nbsp;
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </div>
      <div class="selectedSortMethod">
        Due Date
      </div>
    </div>
  </div>
  <app-create-modal (taskCreated)="forwardTaskCreatedEvent($event)"></app-create-modal>
</nav>
