.contentContainer {
  min-width: 100%;
  min-height: 100vh;
  padding-left: 80px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  background-color: rgba(12, 13, 14, 0.05);
  z-index: 1;
}

app-nav {
  z-index: 2;
  position: fixed;
}

@media (max-width: 1600px) {
  .contentContainer {
    padding-left: 5vw;
  }
}

@media (max-width: 992px) {
  .contentContainer {
    padding-left: 0;
    min-height: calc(100vh - 2.5rem - 16px);
  }

  app-nav {
    position: initial;
  }
}





