.contentContainer {
  min-width: 100vw;
  min-height: 100vh;
  left: 80px;
  background-color: #f8f9fa;
  background-color: rgba(12, 13, 14, 0.05);
}

@media (max-width: 1600px) {
  .contentContainer {
    left: 5vw;
  }
}

@media (max-width: 992px) {
  .contentContainer {
    left: 0;
    min-height: calc(100vh - 2.5rem - 16px);
  }
}


