.container-fluid {
  width: 5vw;
  height: 100vh;
  position: fixed;
  padding: 0;
  border-right: blue solid 1px;
}

.row {
  margin: 0;
}

img {
  box-sizing: border-box;
  width: 5vw;
  display: inline;
  padding: 1vw 1vw 0px 1vw;
}

a {
  overflow: hidden;
  white-space: nowrap;
}
