<html>
<body>
<nav class="container-fluid">
  <div class="row">
   <a>
     <img [src]="homeIcon" [title]="homeTitle">{{homeTitle}}
   </a>
  </div>
  <div class="row">
    <a>
      <img [src]="tasksIcon" [title]="tasksTitle">{{tasksTitle}}
    </a>
  </div>
  <div class="row">
    <a>
      <img [src]="plannerIcon" [title]="plannerTitle">{{plannerTitle}}
    </a>
  </div>
  <div class="row">
    <a>
      <img [src]="analyticsIcon" [title]="analyticsTitle">{{analyticsTitle}}
    </a>
  </div>
  <div class="row">
    <a>
      <img [src]="settingsIcon" [title]="settingsTitle">{{settingsTitle}}
    </a>
  </div>
</nav>
</body>
</html>
